<a href="https://colab.research.google.com/github/INmais/LEIS-2001-collaborative-project/blob/main/Mobility_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#base
import pandas as pd

* needed to delect first rows to be readable (think of a matrix where first row are the headers)
* information in those first rows are metadata, not actual data (so put in on the metadata.md file (.md is for markdown)
* when saving as csv, be careful with separator, this case had to be set ';'
* Most can be done in python, "Data Wrangling
with pandas": https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
* there are diferent data structures (lists, dictionaries, etc), but will work with dataframes (using pandas), as it is easier to work with
* Intro and explanation for pandas: https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html

## Reading files:

In [18]:
DATA_FILEPATH_pa = 'https://raw.githubusercontent.com/INmais/LEIS-2001-collaborative-project/main/Mobility/Dados/PA_2009_2019.csv' 
pa = pd.read_csv(DATA_FILEPATH, sep=';') #for all parameters see: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
pa.fillna(value=0).head(5) #when stating .head will just show first n rows (this case 5), if using ".tail" will just show last n rows

  Distrito Municipio       Tipo de veiculo  ...     2017     2018     2019
0   Aveiro    Águeda              Agrícola  ...   2130.0   2166.0   2210.0
1   Aveiro    Águeda            Ciclomotor  ...   3926.0   3870.0   3838.0
2   Aveiro    Águeda              Ligeiros  ...  30896.0  32692.0  33789.0
3   Aveiro    Águeda  Máquinas Industriais  ...    138.0    157.0    162.0
4   Aveiro    Águeda            Motociclos  ...   1540.0   1701.0   1858.0

[5 rows x 14 columns]

In [19]:
DATA_FILEPATH_fs = 'https://raw.githubusercontent.com/INmais/LEIS-2001-collaborative-project/main/Mobility/Dados/FuelSalesDGEG2008.csv' 
fs = pd.read_csv(DATA_FILEPATH_fs, sep=';')
fs

              Município  Butano  Propano  ...  Lubrificantes  Asfaltos         Total
0              Abrantes     0.0    0.000  ...         18.512       0.0  17870.439550
1                Águeda     0.0    0.000  ...          2.655       0.0  20241.156060
2       Aguiar da Beira     0.0    0.000  ...          0.000       0.0   3963.393600
3             Alandroal     0.0    0.000  ...          0.000       0.0    536.042083
4    Albergaria-a-Velha     0.0    0.000  ...          3.928       0.0  27738.247410
..                  ...     ...      ...  ...            ...       ...           ...
301             Vimioso     0.0    0.000  ...          0.000       0.0    275.554521
302             Vinhais     0.0    0.000  ...          0.000       0.0   1071.811307
303               Viseu     0.0   -1.615  ...         14.253       0.0  53505.275680
304              Vizela     0.0    0.000  ...          0.000       0.0   5512.698562
305             Vouzela     0.0    0.000  ...          0.000       0.0   2824.199053

[306 rows x 20 columns]